<div  >
<h1>series</h1>
<div>
  <label>Search: <input ng-model="searchText"></label>
  <table>
    <thead style="background-color: lightgray;">

    </thead>
    <tbody>
      <tr ng-repeat-start="serie in series | orderBy:'title' | filter:searchText">
        <td>
          <button  ng-click="PlayID(serie.id) " type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true" ></span></button>
          <button  ng-click="DeleteID(serie.id);serie.Deleted='Serie Deleted '" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          <button  ng-click="SetUnique1(serie.id);MoviesInfo1(serie.imdbid);SendPoster(info.Poster,serie.imdbid)" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
          {{serie.title}} <span ng-style={color:'red'}>{{serie.Deleted}}</span>
        </td>

      </tr>
      <tr ng-if="ChoosenForInfo == serie.id" ng-repeat-end="" >

        <td colspan="3">
            <div class="row">
              <div class="col-sm-6">
                  <h1>{{info.Title}}</h1>
                  <p>{{info.Plot}}<br><br>imbd Rating = {{info.imdbRating}}</p>
               </div>
               <div class="col-sm-4">
                  <img ng-src={{urlPoster}}{{movie.imdbid}} >
               </div>

            </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>

</div>
