<!doctype html>
<html lang="en" ng-app="moviecatApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://code.angularjs.org/1.4.7/angular.js"></script>
  <script src="https://code.angularjs.org/1.4.7/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
      <h1>Alo les petits cutes!!!</h1>

      <div class="btn-group-horizontal" role="group" aria-label="...">

        <button  ng-click="CommandAction('playpause')" type="button" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>

        <button  ng-click="CommandAction('playpause')" type="button" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>

        <button  ng-click="CommandAction('stop')" type="button" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </button>

        <button  ng-click="CommandAction('volume/down')" type="button" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
        </button>

        <button  ng-click="CommandAction('volume/up')" type="button" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
        </button>
      </div>

    </div>

        <nav class="navbar navbar-default">

            <a class="navbar-brand navbar-left" href="#/newMovies" > New Movies</a>
            <a class="navbar-brand navbar-left" href="#/newSeries" > New Series</a>
            <a class="navbar-brand navbar-left" href="#/movies"   > Movies  </a>
            <a class="navbar-brand navbar-left" href="#/series"   > Series  </a>

            <form class="navbar-form navbar-right" >
              <div class="form-group">
                <input type="text"  ng-model="DownloadText" class="form-control" placeholder="Download">
              </div>
              <a class="btn btn-default navbar-btn" href="#/downloadMovie/{{DownloadText}}"  >Movie</a>
              <a class="btn btn-default navbar-btn" href="#/downloadSerie/{{DownloadText}}" >Serie</a>
            </form>
        </nav>



        <div class="container">
          <div ng-view></div>
        </div>



</body>
</html>
